# 1 Numpy

In [17]:
import numpy as np

In [18]:
revenus = [1222, 2000, 3000, 4000]
revenus_array = np.array(revenus)

In [19]:
revenus_array.shape

(4,)

In [20]:
hugo = [1300, 400, 23]
richard = [1700, 560, 24]
emilie = [2500, 900, 30]
gaspard = [3000, 1000, 22]
yohann = [2400, 700, 28]

In [21]:
tableau = [hugo, richard, emilie, gaspard, yohann]

In [22]:
data = np.array(tableau)

In [23]:
data

array([[1300,  400,   23],
       [1700,  560,   24],
       [2500,  900,   30],
       [3000, 1000,   22],
       [2400,  700,   28]])

In [24]:
data[0,1]

400

In [25]:
data[3, :]

array([3000, 1000,   22])

In [26]:
data[data[:, 0] < 2000]

array([[1300,  400,   23],
       [1700,  560,   24]])

In [27]:
fred = [1800, 500, 32]

In [28]:
data = np.vstack((data, fred))

In [29]:
data

array([[1300,  400,   23],
       [1700,  560,   24],
       [2500,  900,   30],
       [3000, 1000,   22],
       [2400,  700,   28],
       [1800,  500,   32]])

In [30]:
a = np.linspace(5,10,11)
a

array([ 5. ,  5.5,  6. ,  6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5, 10. ])

In [31]:
print(a[-3:-1])

[9.  9.5]

In [32]:
b = np.array([[[1,2],[4,5]],[[1,2],[4,5]],[[10,2],[4,5]]])

In [33]:
b[2,:,:]

array([[10,  2],
       [ 4,  5]])

# 2 Pandas

In [35]:
import pandas as pd

In [36]:
data = pd.read_csv('data_2/clients.csv')
data.headad()

AttributeError: 'DataFrame' object has no attribute 'headad'

In [5]:
data_json = pd.read_json('data_2/clients.json')
data_json.headad()

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M
3            3  RussellDurand@armyspy.com    Russell Durand     M
4            4       AlexisRiel@rhyta.com       Alexis Riel     M

In [6]:
data_excel = pd.read_excel('data_2/clients.xlsx')

In [7]:
data_excel.head()

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M
3            3  RussellDurand@armyspy.com    Russell Durand     M
4            4       AlexisRiel@rhyta.com       Alexis Riel     M

In [8]:
clients_array = data_excel.values
clients_array

array([[0, 'LaurentDagenais@rhyta.com', 'Laurent Dagenais', 'M'],
       [1, 'GuyMarois@fleckens.hu', 'Guy Marois', 'M'],
       [2, 'BeaufortLesage@einrot.com', 'Beaufort Lesage', 'M'],
       [3, 'RussellDurand@armyspy.com', 'Russell Durand', 'M'],
       [4, 'AlexisRiel@rhyta.com', 'Alexis Riel', 'M'],
       [5, 'LeonLapresse@cuvox.de', 'Leon Lapresse', 'M'],
       [6, 'OrvilleRouthier@gustr.com', 'Orville Routhier', 'M'],
       [7, 'AgramantPepin@dayrep.com', 'Agramant Pepin', 'M'],
       [8, 'AiglentinaLambert@fleckens.hu', 'Aiglentina Lambert', 'F'],
       [9, 'TheodoreClavet@teleworm.us', 'Theodore Clavet', 'M'],
       [10, 'ByronLefebvre@jourrapide.com', 'Byron Lefebvre', 'M'],
       [11, 'FlorusDevoe@einrot.com', 'Florus Devoe', 'M'],
       [12, 'NormandArsenault@armyspy.com', 'Normand Arsenault', 'M'],
       [13, 'AcelineHughes@jourrapide.com', 'Aceline Hughes', 'F'],
       [14, 'GastonBrisette@superrito.com', 'Gaston Brisette', 'M'],
       [15, 'AgateGrandbois@gustr.com', 'Agate Grandbois', 'F'],
       [16, 'AgricanFoucault@jourrapide.com', 'Agrican Foucault', 'M'],
       [17, 'PrunellaJosseaume@armyspy.com', 'Prunella Josseaume', 'F'],
       [18, 'YseultCharest@armyspy.com', 'Yseult Charest', 'F'],
       [19, 'DorotheeAupry@cuvox.de', 'Dorothee Aupry', 'F'],
       [20, 'AmauryReault@teleworm.us', 'Amaury Reault', 'M'],
       [21, 'GillesBeauchamps@superrito.com', 'Gilles Beauchamps', 'M'],
       [22, 'FranckDumont@gustr.com', 'Franck Dumont', 'M'],
       [23, 'DelmareLHeureux@dayrep.com', 'Delmare L Heureux', 'F'],
       [24, 'AlphonseCantin@cuvox.de', 'Alphonse Cantin', 'M'],
       [25, 'BlondelleRochon@gustr.com', 'Blondelle Rochon', 'F'],
       [26, 'SavilleBernard@armyspy.com', 'Saville Bernard', 'M'],
       [27, 'AnnetteJolicoeur@armyspy.com', 'Annette Jolicoeur', 'F'],
       [28, 'BradamateMichel@armyspy.com', 'Bradamate Michel', 'F'],
       [29, 'HilaireFrappier@armyspy.com', 'Hilaire Frappier', 'F'],
       [30, 'MarieBriard@gustr.com', 'Marie Briard', 'F'],
       [31, 'MadeleineBatard@superrito.com', 'Madeleine Batard', 'F'],
       [32, 'ArberGarcia@dayrep.com', 'Arber Garcia', 'M'],
       [33, 'SaberViens@superrito.com', 'Saber Viens', 'M'],
       [34, 'ArnaudDubois@rhyta.com', 'Arnaud Dubois', 'M'],
       [35, 'PryorBeauchamp@dayrep.com', 'Pryor Beauchamp', 'M'],
       [36, 'AlphonsePotvin@armyspy.com', 'Alphonse Potvin', 'M'],
       [37, 'FitzLafontaine@dayrep.com', 'Fitz Lafontaine', 'M'],
       [38, 'DelmareLamothe@gustr.com', 'Delmare Lamothe', 'F'],
       [39, 'DaisiBoileau@jourrapide.com', 'Daisi Boileau', 'F'],
       [40, 'SomerPaquette@jourrapide.com', 'Somer Paquette', 'M'],
       [41, 'OlivieCourtemanche@armyspy.com', 'Olivie Courtemanche', 'F'],
       [42, 'GermainHughes@teleworm.us', 'Germain Hughes', 'M'],
       [43, 'MorganaBellemare@superrito.com', 'Morgana Bellemare', 'F'],
       [44, 'MerciMorin@gustr.com', 'Merci Morin', 'F'],
       [45, 'VerneyBedard@dayrep.com', 'Verney Bedard', 'M'],
       [46, 'IgnaceAudibert@armyspy.com', 'Ignace Audibert', 'M'],
       [47, 'FranckBinet@superrito.com', 'Franck Binet', 'M'],
       [48, 'SumnerRocheleau@einrot.com', 'Sumner Rocheleau', 'M'],
       [49, 'AubertPatel@armyspy.com', 'Aubert Patel', 'M'],
       [50, 'SumnerLaprise@superrito.com', 'Sumner Laprise', 'M'],
       [51, 'MadeleineLeveille@dayrep.com', 'Madeleine Leveille', 'F'],
       [52, 'BelisardaGuedry@dayrep.com', 'Belisarda Guedry', 'F'],
       [53, 'ZurieTheberge@gustr.com', 'Zurie Theberge', 'F'],
       [54, 'ErmengardiBousquet@dayrep.com', 'Ermengardi Bousquet', 'F'],
       [55, 'FlorenceBeaudoin@einrot.com', 'Florence Beaudoin', 'F'],
       [56, 'LeoneCrete@armyspy.com', 'Leone Crete', 'F'],
       [57, 'SearlaitCote@superrito.com', 'Searlait Cote', 'F'],
       [58, 'AlphonsineBourassa@cuvox.de', 'Alphonsine Bourassa', 'F'],
       [59, 'DidianeDAubigne@einrot.com', 'Didiane D Aubigne', 'F'],
       [60, 'EdouardLacroix@cuvox.de', 'Edouard Lacroix', 'M'],
       [61, 'OdeletteCharron@superrito.com', 'Odelette Charron', 'F'],
       [62, 'AleronBerard@rhyta.com', 'Aleron Berard', 'M'],
       [63, 'SylvieDuranseau@einrot.com', 'Sylvie Duranseau', 'F'],
       [64, 'YvetteDAvis@cuvox.de', 'Yvette D Avis', 'F'],
       [65, 'SolaineLecuyer@dayrep.com', 'Solaine Lecuyer', 'F'],
       [66, 'CourtlandDavid@cuvox.de', 'Courtland David', 'M'],
       [67, 'PatienceCharbonneau@jourrapide.com', 'Patience Charbonneau',
        'F'],
       [68, 'EmmanuelLanctot@cuvox.de', 'Emmanuel Lanctot', 'M'],
       [69, 'MusetteProvencher@armyspy.com', 'Musette Provencher', 'F'],
       [70, 'MorganaMarchesseault@teleworm.us', 'Morgana Marchesseault',
        'F'],
       [71, 'ViolletteArnoux@cuvox.de', 'Viollette Arnoux', 'F'],
       [72, 'SlainieGregoire@cuvox.de', 'Slainie Gregoire', 'F'],
       [73, 'GarlandLagueux@rhyta.com', 'Garland Lagueux', 'F'],
       [74, 'FerragusGrimard@cuvox.de', 'Ferragus Grimard', 'M'],
       [75, 'JeanTollmache@einrot.com', 'Jean Tollmache', 'M'],
       [76, 'LanceParent@teleworm.us', 'Lance Parent', 'M'],
       [77, 'CheneyChaloux@cuvox.de', 'Cheney Chaloux', 'M'],
       [78, 'PierpontLamarre@superrito.com', 'Pierpont Lamarre', 'M'],
       [79, 'ComforteQuerry@superrito.com', 'Comforte Querry', 'F'],
       [80, 'NadineMasson@teleworm.us', 'Nadine Masson', 'F'],
       [81, 'FranceLaderoute@jourrapide.com', 'France Laderoute', 'F'],
       [82, 'LothairBonenfant@dayrep.com', 'Lothair Bonenfant', 'M'],
       [83, 'OlivieNorbert@cuvox.de', 'Olivie Norbert', 'F'],
       [84, 'SomerMarleau@cuvox.de', 'Somer Marleau', 'M'],
       [85, 'AstridJolicoeur@superrito.com', 'Astrid Jolicoeur', 'F'],
       [86, 'OlivierGaillard@superrito.com', 'Olivier Gaillard', 'M'],
       [87, 'PhilipPinneau@teleworm.us', 'Philip Pinneau', 'M'],
       [88, 'AlexisLagrange@gustr.com', 'Alexis Lagrange', 'M'],
       [89, 'HeloiseGregoire@dayrep.com', 'Heloise Gregoire', 'F'],
       [90, 'DexterDavid@fleckens.hu', 'Dexter David', 'M'],
       [91, 'JacquesMethot@cuvox.de', 'Jacques Methot', 'M'],
       [92, 'AnceloteDesforges@cuvox.de', 'Ancelote Desforges', 'F'],
       [93, 'JulietteOuellet@rhyta.com', 'Juliette Ouellet', 'F'],
       [94, 'AvrilSylvain@superrito.com', 'Avril Sylvain', 'F'],
       [95, 'RachellePlaisance@armyspy.com', 'Rachelle Plaisance', 'F'],
       [96, 'BenjaminLabrie@fleckens.hu', 'Benjamin Labrie', 'M'],
       [97, 'LaureBondy@superrito.com', 'Laure Bondy', 'F'],
       [98, 'NatalieLeveille@rhyta.com', 'Natalie Leveille', 'F'],
       [99, 'SydneyGuibord@superrito.com', 'Sydney Guibord', 'F'],
       [100, 'ZdenekVadnais@superrito.com', 'Zdenek Vadnais', 'M'],
       [101, 'LoyalQuenneville@superrito.com', 'Loyal Quenneville', 'M'],
       [102, 'ErnestTachel@cuvox.de', 'Ernest Tachel', 'M'],
       [103, 'MatthieuPouchard@teleworm.us', 'Matthieu Pouchard', 'M'],
       [104, 'SearlasArtois@rhyta.com', 'Searlas Artois', 'M'],
       [105, 'ArnoLeBatelier@einrot.com', 'Arno Le Batelier', 'M'],
       [106, 'EstellePoisson@jourrapide.com', 'Estelle Poisson', 'F'],
       [107, 'HarcourtCharpentier@cuvox.de', 'Harcourt Charpentier', 'M'],
       [108, 'CrescentLavallee@armyspy.com', 'Crescent Lavallee', 'F'],
       [109, 'EugeniaVadeboncoeur@cuvox.de', 'Eugenia Vadeboncoeur', 'F'],
       [110, 'GenevreLabrie@cuvox.de', 'Genevre Labrie', 'F'],
       [111, 'NormandCote@dayrep.com', 'Normand Cote', 'M'],
       [112, 'ZoeLeclair@gustr.com', 'Zoe Leclair', 'F'],
       [113, 'PhillipaPerrault@einrot.com', 'Phillipa Perrault', 'F'],
       [114, 'EliseDesrosiers@jourrapide.com', 'Elise Desrosiers', 'F'],
       [115, 'RussellRochon@superrito.com', 'Russell Rochon', 'M'],
       [116, 'BeldaLauzier@armyspy.com', 'Belda Lauzier', 'F'],
       [117, 'AlphonsineSacre@einrot.com', 'Alphonsine Sacre', 'F'],
       [118, 'AubineLabelle@cuvox.de', 'Aubine Labelle', 'F'],
       [119, 'EmileVadnais@rhyta.com', 'Emile Vadnais', 'M'],
       [120, 'ArienneCantin@superrito.com', 'Arienne Cantin', 'F'],
       [121, 'JacquesMarcheterre@einrot.com', 'Jacques Marcheterre', 'M'],
       [122, 'EliotDupuis@gustr.com', 'Eliot Dupuis', 'M'],
       [123, 'ArthurPlante@jourrapide.com', 'Arthur Plante', 'M'],
       [124, 'SacripantLabrie@armyspy.com', 'Sacripant Labrie', 'M'],
       [125, 'SibylaLizotte@cuvox.de', 'Sibyla Lizotte', 'F'],
       [126, 'ChristianLaberge@armyspy.com', 'Christian Laberge', 'M'],
       [127, 'VickDavid@gustr.com', 'Vick David', 'M'],
       [128, 'ComforteCloutier@einrot.com', 'Comforte Cloutier', 'F'],
       [129, 'ClaudeGalarneau@armyspy.com', 'Claude Galarneau', 'M'],
       [130, 'ElisePerrault@superrito.com', 'Elise Perrault', 'F'],
       [131, 'LoringRocheleau@cuvox.de', 'Loring Rocheleau', 'M'],
       [132, 'MathildeSansouci@superrito.com', 'Mathilde Sansouci', 'F'],
       [133, 'AmaurySirois@superrito.com', 'Amaury Sirois', 'M'],
       [134, 'ChristelleLandry@jourrapide.com', 'Christelle Landry', 'F'],
       [135, 'AdelaideBrousse@gustr.com', 'Adelaide Brousse', 'F'],
       [136, 'BriceFaure@einrot.com', 'Brice Faure', 'M'],
       [137, 'AlaineHervieux@rhyta.com', 'Alaine Hervieux', 'F'],
       [138, 'LanceCroteau@einrot.com', 'Lance Croteau', 'M'],
       [139, 'AurelieBazinet@dayrep.com', 'Aurelie Bazinet', 'F'],
       [140, 'AstolphoVeronneau@teleworm.us', 'Astolpho Veronneau', 'M'],
       [141, 'JolieDeblois@armyspy.com', 'Jolie Deblois', 'F'],
       [142, 'MireilleParenteau@superrito.com', 'Mireille Parenteau',
        'F'],
       [143, 'ToussaintBrodeur@rhyta.com', 'Toussaint Brodeur', 'M'],
       [144, 'PorterSimard@armyspy.com', 'Porter Simard', 'M'],
       [145, 'JeromedeLaunay@fleckens.hu', 'Jeromede Launay', 'M'],
       [146, 'LowellPatel@rhyta.com', 'Lowell Patel', 'M'],
       [147, 'GarlandMarcheterre@fleckens.hu', 'Garland Marcheterre',
        'F'],
       [148, 'OlivierAube@armyspy.com', 'Olivier Aube', 'M'],
       [149, 'FrontinoBrian@einrot.com', 'Frontino Brian', 'M'],
       [150, 'RochMireault@gustr.com', 'Roch Mireault', 'M'],
       [151, 'NathalieCormier@cuvox.de', 'Nathalie Cormier', 'F'],
       [152, 'VallisMainville@gustr.com', 'Vallis Mainville', 'M'],
       [153, 'DanielleNeufville@teleworm.us', 'Danielle Neufville', 'F'],
       [154, 'AllyrianeRacine@gustr.com', 'Allyriane Racine', 'F'],
       [155, 'PierpontFlamand@fleckens.hu', 'Pierpont Flamand', 'M'],
       [156, 'DanielHuot@rhyta.com', 'Daniel Huot', 'M'],
       [157, 'HughPoisson@fleckens.hu', 'Hugh Poisson', 'M'],
       [158, 'YoletteMoreau@dayrep.com', 'Yolette Moreau', 'F'],
       [159, 'GasparReault@dayrep.com', 'Gaspar Reault', 'M'],
       [160, 'DelitBisaillon@teleworm.us', 'Delit Bisaillon', 'F'],
       [161, 'ManonDastous@armyspy.com', 'Manon Dastous', 'F'],
       [162, 'LoyalFouquet@armyspy.com', 'Loyal Fouquet', 'M'],
       [163, 'ApollineLaframboise@teleworm.us', 'Apolline Laframboise',
        'F'],
       [164, 'OrielMiron@jourrapide.com', 'Oriel Miron', 'F'],
       [165, 'LianeLaGarde@cuvox.de', 'Liane La Garde', 'F'],
       [166, 'AnastasieCroteau@rhyta.com', 'Anastasie Croteau', 'F'],
       [167, 'VerneyCourse@armyspy.com', 'Verney Course', 'M'],
       [168, 'VoletaAdler@armyspy.com', 'Voleta Adler', 'F'],
       [169, 'PlattParent@jourrapide.com', 'Platt Parent', 'M'],
       [170, 'BlondelleAilleboust@gustr.com', 'Blondelle Ailleboust',
        'F'],
       [171, 'AurelieDesnoyer@armyspy.com', 'Aurelie Desnoyer', 'F'],
       [172, 'AvelaineGadbois@dayrep.com', 'Avelaine Gadbois', 'F'],
       [173, 'BriceGrondin@fleckens.hu', 'Brice Grondin', 'M'],
       [174, 'ZacharieDuplessis@rhyta.com', 'Zacharie Duplessis', 'M'],
       [175, 'OgierGervais@gustr.com', 'Ogier Gervais', 'M'],
       [176, 'FusbertaRancourt@rhyta.com', 'Fusberta Rancourt', 'F'],
       [177, 'CamilleLaurent@superrito.com', 'Camille Laurent', 'F'],
       [178, 'CeriseMontminy@dayrep.com', 'Cerise Montminy', 'F'],
       [179, 'JosetteRiquier@armyspy.com', 'Josette Riquier', 'F'],
       [180, 'AgnesBriard@cuvox.de', 'Agnes Briard', 'F'],
       [181, 'AvrilRocheleau@fleckens.hu', 'Avril Rocheleau', 'F'],
       [182, 'BenoitGauvin@teleworm.us', 'Benoit Gauvin', 'M'],
       [183, 'HeloiseMarcil@fleckens.hu', 'Heloise Marcil', 'F'],
       [184, 'RolandDupont@einrot.com', 'Roland Dupont', 'M'],
       [185, 'SolaineLabrecque@fleckens.hu', 'Solaine Labrecque', 'F'],
       [186, 'JulieBeauchemin@teleworm.us', 'Julie Beauchemin', 'F'],
       [187, 'KarelDandonneau@dayrep.com', 'Karel Dandonneau', 'M'],
       [188, 'PaienBeauchesne@rhyta.com', 'Paien Beauchesne', 'M'],
       [189, 'AdeleClavette@cuvox.de', 'Adele Clavette', 'F'],
       [190, 'LotyeJodion@fleckens.hu', 'Lotye Jodion', 'F'],
       [191, 'AmaranteLacroix@fleckens.hu', 'Amarante Lacroix', 'F'],
       [192, 'XarlesCaisse@jourrapide.com', 'Xarles Caisse', 'M'],
       [193, 'LealaLemelin@dayrep.com', 'Leala Lemelin', 'F'],
       [194, 'ChantalLamoureux@jourrapide.com', 'Chantal Lamoureux', 'F'],
       [195, 'NinetteAdler@superrito.com', 'Ninette Adler', 'F'],
       [196, 'EmmanuelleLabrie@einrot.com', 'Emmanuelle Labrie', 'F'],
       [197, 'HuonDeLaRonde@rhyta.com', 'Huon De La Ronde', 'M'],
       [198, 'SimoneSt-Pierre@jourrapide.com', 'Simone St- Pierre', 'F'],
       [199, 'PeverellMazuret@dayrep.com', 'Peverell Mazuret', 'M'],
       [200, 'LorrainePaulet@einrot.com', 'Lorraine Paulet', 'F'],
       [201, 'DemiLazure@cuvox.de', 'Demi Lazure', 'F'],
       [202, 'AgramantGrandpre@rhyta.com', 'Agramant Grandpre', 'M'],
       [203, 'ClothildeBerie@teleworm.us', 'Clothilde Berie', 'F'],
       [204, 'AimeMarseau@dayrep.com', 'Aime Marseau', 'M'],
       [205, 'RogerDeLaRonde@gustr.com', 'Roger De La Ronde', 'M'],
       [206, 'AiglentinaMarcheterre@superrito.com',
        'Aiglentina Marcheterre', 'F'],
       [207, 'NoemiLaisne@rhyta.com', 'Noemi Laisne', 'F'],
       [208, 'DenisPatenaude@einrot.com', 'Denis Patenaude', 'M'],
       [209, 'JulienBeriault@rhyta.com', 'Julien Beriault', 'M'],
       [210, 'MartheQuerry@einrot.com', 'Marthe Querry', 'F'],
       [211, 'ParfaitBedard@armyspy.com', 'Parfait Bedard', 'M'],
       [212, 'MandelBarteaux@gustr.com', 'Mandel Barteaux', 'M'],
       [213, 'PauletteLemaitre@fleckens.hu', 'Paulette Lemaitre', 'F'],
       [214, 'YoletteLanoie@dayrep.com', 'Yolette Lanoie', 'F'],
       [215, 'LucilleBaron@superrito.com', 'Lucille Baron', 'F'],
       [216, 'ChappellSarrazin@rhyta.com', 'Chappell Sarrazin', 'M'],
       [217, 'GanoHetu@fleckens.hu', 'Gano Hetu', 'M'],
       [218, 'MinetteRoy@fleckens.hu', 'Minette Roy', 'F'],
       [219, 'RoslynChalifour@cuvox.de', 'Roslyn Chalifour', 'M'],
       [220, 'KarelBazinet@einrot.com', 'Karel Bazinet', 'M'],
       [221, 'JosetteBordeleau@einrot.com', 'Josette Bordeleau', 'F'],
       [222, 'LangleyCaron@armyspy.com', 'Langley Caron', 'M'],
       [223, 'ClaudeDandonneau@jourrapide.com', 'Claude Dandonneau', 'F'],
       [224, 'ApollineMichaud@superrito.com', 'Apolline Michaud', 'F'],
       [225, 'PascalineBeaudry@rhyta.com', 'Pascaline Beaudry', 'F'],
       [226, 'FleurCaouette@jourrapide.com', 'Fleur Caouette', 'F'],
       [227, 'FrancisMasse@jourrapide.com', 'Francis Masse', 'M']],
      dtype=object)

In [9]:
email = data_excel['email']
email

0            LaurentDagenais@rhyta.com
1                GuyMarois@fleckens.hu
2            BeaufortLesage@einrot.com
3            RussellDurand@armyspy.com
4                 AlexisRiel@rhyta.com
                    ...
223    ClaudeDandonneau@jourrapide.com
224      ApollineMichaud@superrito.com
225         PascalineBeaudry@rhyta.com
226       FleurCaouette@jourrapide.com
227        FrancisMasse@jourrapide.com
Name: email, Length: 228, dtype: object

In [10]:
data.iloc[0,2]

'Laurent Dagenais'

In [14]:
data.iloc[:5, 1:3]

                       email               nom
0  LaurentDagenais@rhyta.com  Laurent Dagenais
1      GuyMarois@fleckens.hu        Guy Marois
2  BeaufortLesage@einrot.com   Beaufort Lesage
3  RussellDurand@armyspy.com    Russell Durand
4       AlexisRiel@rhyta.com       Alexis Riel

In [40]:
data.groupby('genre')['nom'].sum()

genre
F    Aiglentina LambertAceline HughesAgate Grandboi...
M    Laurent DagenaisGuy MaroisBeaufort LesageRusse...
Name: nom, dtype: object

In [41]:
notes = pd.read_csv('data_2/notes.csv')

In [47]:
notes.head()

                nom   matiere  note
0  Laurent Dagenais  Français    16
1        Guy Marois  Français    13
2   Beaufort Lesage  Français     8
3    Russell Durand  Français    10
4       Alexis Riel  Français    15

In [49]:
moyenne = notes.groupby('nom').mean()
moyenne.loc[moyenne['note'] < 10].shape[0]

6

In [51]:
produits = pd.read_csv('data_2/produits.csv')
commandes = pd.read_csv('data_2/commande.csv')

In [52]:
produits.head()

   id  prix
0   0  24.8
1   1  13.1
2   2  23.7
3   3  16.0
4   4  19.0

In [53]:
commandes.head()

   id  nombre
0  70       2
1  41       4
2  72       2
3  92       8
4  73       1

In [65]:
total = pd.merge(produits, commandes, on='id', how='left')
total = total.groupby('id')['nombre'].sum().sort_values()
total

id
58      6
28     15
62     20
92     20
29     21
     ...
30     89
84     91
65     96
35     98
8     103
Name: nombre, Length: 100, dtype: int64

In [68]:
total2 = pd.merge(produits, total, on = 'id', how='left')
total2['ca'] = total2['prix']*total2['nombre']
total2.sort_values(by=['ca'])

    id  prix  nombre      ca
58  58  23.8       6   142.8
92  92   7.4      20   148.0
63  63   8.5      22   187.0
29  29  10.8      21   226.8
62  62  13.0      20   260.0
..  ..   ...     ...     ...
27  27  24.5      86  2107.0
19  19  31.6      67  2117.2
30  30  24.9      89  2216.1
65  65  26.3      96  2524.8
8    8  25.6     103  2636.8

[100 rows x 4 columns]